@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family:;
  height: 100vh;
  text-decoration: none;
  background-image: linear-gradient(125deg,#2d3436,#ecf0f1,#2c3e50);
  background-size: 400%;
  animation: bganimation 13s infinite;

}
@keyframes bganimation {
0%{
  background-position: 0% 50%;
}
50%{
  background-position: 100% 50%;
}
100%{
  background-position: 0% 50%;
}
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  transform: translate(-50%,-50%);
  background-image: linear-gradient(250deg,#2d3436,#1abc9c,#34495e);
  animation: animate 13s infinite;
  background-size: 500%;
  padding: 60px;
  border-radius: 20px;
  border: #15f4ee solid 2px;
    }
.container:hover {
  transition: 1s;
  box-shadow: 0 5px 50px #15f4ee inset, 0 5px 50px #15f4ee,
             0 5px 50px #15f4ee inset, 0 5px 50px #15f4ee;
}
@keyframes animate  {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.container img{
  height: 200px;
  width: 200px;
  margin-left: 80px;
   border-radius: 50%;
   border:  #15f4ee 2px solid;

}
.container img:hover {
  transition: 1s;
  box-shadow: 0 5px 50px #15f4ee inset, 0 5px 50px #15f4ee,
             0 5px 50px #15f4ee inset, 0 5px 50px #15f4ee;
}

.container h1{
  text-transform: uppercase;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
}
.container p{
  font-size: 20px;
  word-spacing: 2px;
  color: black;
 font-family: 'Balsamiq Sans';
}
.container h2{
  font-family:monospace;
  font-size: 20px;
}
.icons {
  text-align: center;
}
.icons a{
  padding: 10px;
  color: black;
  font-size: 30px;
  margin-left: 20px;

}

h2{
  text-align: center;
}
.fa-facebook-f:hover{
  color: #2c3e50;
  transition: 1s;
}
.fa-github:hover{
  color: black;
    transition: 1s;
}
.fa-twitter:hover{
  color:#3498db;
    transition: 1s;
}
.fa-instagram:hover{
  color: #9b59b6;
    transition: 1s;
}
.fa-youtube-play:hover{
    transition: 1s;
color: red;
}
